@media screen and (max-width: 350px) {
  .navbar-brand {
      margin: auto !important;
    }

  .srcform {
    width: 75%;
  }

  .form-search {
    font-size: 10pt !important;
  }
}

@media screen and (max-width: 576px) {
  /*.navbar-brand {
      margin: auto !important;
    }*/
  .srcform {
    width: 45%;
  }
  .hidden-sm {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .form-search {
    font-size: 8pt;
  }
  .srcform {
    width: 45%;
  }
  .textinboo {
    font-size: 10pt !important;
  } 
}

@media screen and (max-width: 992px) {
  .textinboo {
    font-size: 15pt;
  } 
}

@media screen and (max-width: 1200px) {
  
}




@media screen and (min-width: 320px) {
  .babooid {
  }
  .babooidin {
    padding-top: 20%;
  }

  .btn-newstory {
    width: 110% !important;
    margin-bottom: 10px;
  }

  .martopbot {
    width: 120%;
    margin-bottom: -13px;
  }
}

@media screen and (min-width: 576px) {
  .babooid {
    padding-top: 15%;
  }
  .babooidin {
    padding-top: 17%;
  }
}

@media screen and (min-width: 768px) {
  .babooid {
    padding-top: 11%;
  }
  .babooidin {
    padding-top: 11%;
  }
}

@media screen and (min-width: 992px) {
  .babooid {
    padding-top: 10%;
  }
  .babooidin {
    padding-top: 9%;
  }


}

@media screen and (min-width: 1200px) {
  .babooid {
    padding-top: 6%;
  }
  .babooidin {
    padding-top: 8%;
  }
}

@media screen and (min-width: 1300px) {
  .babooid {
    padding-top: 4%;
  }
  .babooidin {
    padding-top: 7%;
  }
}

@media screen and (min-width: 1500px) {
  .babooid {
    padding-top: 6%;
  }
  .babooidin {
    padding-top: 7%;
  }
}

@media screen and (min-width: 1600px) {
  .babooid {
    padding-top: 4%;
  }
  .babooidin {
    padding-top: 6%;
  }
}