@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');
@import url('../fonts/fonts.css');
* {
	box-sizing: border-box;
	font-family: 'Roboto Light', sans-serif;
}

body {
	background-color: #f5f8fa;
}

p {
	margin-bottom: 0.2rem !important;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #7b0393;
}

.navbar {
	padding: 0.2rem 1rem !important;
}

.navbar-collapse {
	flex-basis: 45%;
}

.fixed-top {
	z-index: 1009;
}

.baboonav {
	background-color: #fff;
	box-shadow: 0px 0px 5px 1px rgba(74, 74, 74, 0.15);
}

.martopbot {
	margin-top: -5px;
	margin-bottom: -20px;
}

.search-form {
	border-radius: 50px;
	height: 35px;
	font-size: 13px;
	width: 300px !important;
	color: #888 !important;
	background: url("../img/search.png") no-repeat right;
	background-size: 18px;
	background-position: 95% 50%;
}
.form-search:focus {
	outline: 0;
}
input.formsearch:focus {
	color:#7554bd;
	border-color:#7554bd;
    box-shadow: 0px 0px 0px 0px #7554bd;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #333;
	opacity: 0.3;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #333;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #333;
	opacity: 0.3;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #333;
	opacity: 0.3;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #333;
	opacity: 0.3;
}

.bx-wrapper {
	-webkit-box-shadow: none !important;
	border: none !important;
	background: transparent !important;
	margin-bottom: 0 !important;
	max-width: 1300px !important;
}

.bx-wrapper .bx-next {
	right: 45% !important;
}

.bx-wrapper .bx-prev {
	left: 10% !important;
}

.contslider {
	width: 20;
	padding: 15px 20px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
}

@media screen and (max-width: 500px) {
	.contslider {
		width: 35px;
		height: 35px;
		padding: 10px 10px 10px 10px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
	}
}

.contenttextslider p span {
	display: block;
}

.btnbooread {
	border: 1px rgba(128, 128, 128, 0.28) solid;
	border-radius: 23px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	padding: 8px 40px;
}

.sidetextslide {
	padding: 13%;
}

.list-group-item>p span {
	display: block;
}

.subchapter>.list-group>.list-group-item {
	font-size: 15px;
	font-weight: 600;
	padding: 1rem 0 !important;
	font-family: Proxima Nova;
}

.fs-13 {
	font-size: 13px;
}

.profilenav>p span {
	display: block;
}

.baboocolor {
	color: #ca79db !important;
}

.bold {
	font-weight: bold !important;
	font-size: 11pt !important;
	font-family: 'Roboto Bold', sans-serif;
}

.bold>a {
	font-family: 'Roboto Bold', sans-serif;
}

.bold11px {
	font-size: 11px;
	font-weight: bold;
}

.border1px {
	border-bottom: solid 0.8px #e4e8eb;
	height: 1px;
}

.boldtitle {
	font-weight: bold !important;
	font-size: 18pt !important;
	font-family: 'Roboto Black', sans-serif;
}

.catbook {
	font-family: Poppins;
	font-size: 8pt;
}

.catul {
	display: inline-block;
	list-style: none;
	float: right;
}

.Rcatul {
	display: inline-block;
	list-style: none;
	box-shadow: 0px 0px 1px 0px #222;
}

.catli {
	float: left;
	margin-left: 20px
}

.catli>a {
	font-family: 'Poppins';
	font-size: 10pt;
}

.Rcatli {
	float: left;
	color: #fff;
	padding-top: 8px;
	height: 100%;
}

.Rcatul .active {
	border-bottom: 3px solid #fff;
}

.Rcatli>a {
	font-family: 'Poppins';
	font-size: 10pt;
	color: #fff;
}

.content-desc {
	margin-top: 5px;
}

.text-desc-in {
	font-size: 11pt !important;
	font-family: Poppins;
	line-height: 1.7;
}

.text-desc-out {
	font-size: 9pt !important;
	font-family: Poppins;
	line-height: 1.5;
}

.readmore {
	color: #8a6ec7;
	font-weight: 600;
	text-decoration: underline;
	font-family: 'Poppins';
}

.nametitle {
	font-size: 0.8rem !important;
	font-weight: bold;
	font-family: Proxima Nova;
	line-height: 1;
}

.nametitle2 {
	font-size: 1rem !important;
	font-weight: bold;
	font-family: Proxima Nova;
	line-height: 1;
}

.Rnametitle2 {
	font-size: 15px;
	font-weight: bold;
	font-family: Proxima Nova;
	line-height: 1;
}

.btnbeliskrg {
	padding: 10px 40px;border-radius: 30px;background-color: #b54aca;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
}
.txtbtnbeliskrg {
	font-size: 15pt;color: #fff;font-family: Poppins;font-weight: 600;
}

.dbooktitle {
	font-family: proxima_nova_ltsemibold;
	color: #5f5f5f !important;
}

.dbooksociallist {
	width: calc(100%/4);
	float: left;
}
.dbooksociallistmodal {
	width: calc(100%/5);
	float: left;
}

.closemodal {
	position: relative;left: 150px;cursor: pointer;
}

.dbookfollowbtn {
	position: relative;
	bottom: 53px;
	left: 150px;
}

.modallimitbook {
	font-size: 20pt;font-weight: bold;font-family: Poppins;line-height: 1.38;
}

.dbooktitlebook {
	font-weight: 600;
	font-family: Poppins;
}

.dbookdescbook {
	font-size: 15px;
	font-family: Proxima Nova;
	line-height: 1.8;
}

.nametitle3 {
	font-size: 1.35rem !important;
	line-height: 1;
}

.nametitle3>a {
	font-weight: bold;
	font-family: Poppins;
}

.Rnametitle3 {
	font-size: 16px;
	font-weight: bold;
	font-family: Proxima Nova;
	line-height: 1;
}

.mt-7 {
	margin-top: 7px;
}

.mt-img {
	margin-top: -100%;
}

.btn {
	border-radius: 3px;
	outline: none !important;
}

.btn {
	display: inline-block;
	font-weight: bold;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .3rem 0.7rem;
	font-size: 10pt;
	border-radius: .15rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-lg {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	border-radius: .3rem;
}

.btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	border-radius: .2rem;
}

.btn-newstory {
	margin-top: 6px;
	color: #7554bd;
	font-size: 11pt;
	font-weight: bold;
	border-radius: 30px;
	padding: 4px 13px;
	background-color: #faf7ff;
	box-shadow: 0 1px 2px 0 rgba(227, 214, 255, 0.7);
	border: solid 1px #7554bd;
	text-align: center;
}

.btn-navdaftar {
	border-radius: 31px;
	background-color: #7554bd;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
}

.navdaftar {
	padding: 30px;
	font-family: Poppins;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
}

.btn-navmasuk {
	font-family: Poppins;
	font-size: 12pt;
	font-weight: bold;
}

.btn-white {
	background-color: #f5f8fa !important;
	border: 1px solid #f5f8fa !important;
	box-shadow: 0px 0px 10px #5a5a5a;
}

.btn-white {
	color: #7554bd;
}

.addbutton {
	color: #8a6ec7;
}

.smalltitle {
	font-size: 10pt;
	margin-bottom: 2%;
}

.fillcontent {
	font-size: 14pt;
	margin-bottom: 10% !important;
}

.baboocontent {
	padding: 10px;
	border-bottom: 1px rgba(132, 132, 132, 0.17) solid;
}

.baboocontents {
	padding: 10px;
}

.img-book {
	box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.22);
}

.hr-panel {
	border-bottom: 1px rgba(132, 132, 132, 0.17) solid;
	/*margin-top: 20px;*/
	margin-bottom: 10px;
	width: 100%;
}

.card {
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(167, 167, 167, 0.04);
	border: solid 1px #e8ebec;
}

.card-header {
	background-color: transparent;
	font-family: 'Proxima Nova'
}

.card-widget {
	border-color: #7554bd;
	background-color: #7554bd;
	color: #fff !important;
}

.card-content {
	padding: 15% 7%;
}

.card-footer {
	background: transparent !important;
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.bukupilihan {
	padding: 7px 17px;
	background-color: #7554bd;
	border-radius: 25px;
	font-size: 10pt;
	color: #fff;
	font-family: Poppins;
}

.left-side {
	border: 0px;
	border-radius: 0px;
	background-color: #F5F8FA;
}

.right-side {
	border: 0px;
	border-radius: 0px;
	background-color: #ffffff;
}

.side-content-l {
	/*padding:100px 100px 100px 100px;*/
	padding: 10%;
	height: 100vh;
}

.side-content-r {
	padding: 50px 50px 50px 50px;
	height: 100vh;
}

.btn-facebook {
	height: 50px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #efefef;
}

.btn-google {
	height: 50px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #efefef;
}

.btn-facebook-mob {
	height: 50px;
	width: 140px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #ebebeb;
}

.btn-google-mob {
	height: 50px;
	width: 140px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #ebebeb;
	margin-left: 10px;
}

.img-button {
	height: 24px;
}

.btn-teks {
	height: 22px;
	font-family: calibri;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: #2e2e2e;
	padding-left: 10px;
}

/*
.aktip{
	border-bottom:solid 3px #fff;
}*/

.Combined-Shape-Copy {
	width: 30.5px;
	height: 28.3px;
	border-radius: 1px;
}

.button-login {
	background-color: transparent;
	border: 2px solid #7554bd;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: #7554bd;
	padding-left: 20px;
}

.register-link {
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 14px;
	color: #555;
}

.register-link2 {
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 14px;
	color: gray;
}

.register-link2:hover {
	color: #7554bd;
	text-decoration: none;
	font-weight: 600;
}

.register-link2.active {
	color: #7554bd;
	text-decoration: none;
	font-weight: 600;
}

.register-link3 {
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 12px;
	color: #555;
}

.register-link3:hover {
	color: #7554bd;
	text-decoration: none;
}

.register-link3.active {
	color: #7554bd;
	text-decoration: none;
}

.text-label-login {
	margin-top: 50px;
	font-size: 14px;
	"
 color: #555;
	font-family: 'Proxima Nova', Georgia, sans-serif;
}

.text-label-login2 {
	font-size: 14px;
	"
 color: #555;
	font-family: 'Proxima Nova', Georgia, sans-serif;
}

.login-input {
	font-size: 13px;
	color: #eee;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	height: 40px;
	border: 1px solid #ddd;
}

button.button-login:hover {
	background-color: #7554bd;
	color: #fff;
	padding-left: 20px;
}

input.login-input:focus {
	color: #7554bd;
	border-color: #7554bd;
	box-shadow: 0px 0px 1px 0px #7554bd;
}

input.login-input {
	color: gray;
	box-shadow: 0px;
}

input-placeholder.login-input {
	color: gray;
}

.welcome-message {
	font-size: 20px;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	color: grey;
}

.img-logo-login {
	margin-top: 120px;
	height: 150px;
}

.img-left-login {
	margin-top: 40px;
	height: 360px;
	width: 540px;
}

.icon-langsung-baca {
	padding-left: 5px;
	font-size: 12px;
}

.konten {
	padding-right: 30px;
	padding-left: 30px;
}

.btn-no-fill {
	border: 1px #7554bd solid;
	border-radius: 25px;
	padding: 0px 10px;
	color: #7554bd;
}

.btn-daftar {
	background-color: #7554bd;
	color: #fff;
	font-family: 'Proxima Nova', Georgia, sans-serif;
	font-size: 14px;
	border-radius: 50px;
	margin-bottom: 25px;
	margin-top: 15px;
	border: 2px solid #7554bd;
}

button.btn-daftar:hover {
	background-color: #fff;
	color: #7554bd;
	border: 2px solid #7554bd;
	padding-left: 20px;
	font-weight: 600;
}

select.form-control:focus {
	border-color: #7554bd;
}

/*SLIDER*/

.slideboo {
	display: flex;
	position: relative;
}

.leftboo {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	width: 13%;
	background-image: -webkit-radial-gradient(169% 84%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 277px,#714cb0 50px);
	height: auto;
}

.rightboo {
	border-radius: 211px 1px 0 1px;
	-webkit-border-radius: 211px 1px 0 1px;
	width: 47%;
	height: auto;
	background-image: linear-gradient(202deg, #8148c2, #7554bd);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	overflow: hidden;
}

.slidecontrols {
	z-index: 1001;
	position: absolute;
	top: 45%;
	right: 0;
	left: 5%;
}

@media screen and (max-width: 500px) {
	.slidecontrols {
		z-index: 1001;
		position: absolute;
		top: 45%;
		right: 5%;
		left: 5%;
	}
}

.inrightboo {
	position: inherit;
	color: #fff;
	z-index: 1005;
}

.textinboo {
	font-size: 20pt;
	font-weight: bold;
}

.blueslidebg {
	padding: 5%;
	background-color: #7db6d0;
}

.blueslide {
	color: #fff !important;
}

.blueslide>h4, .blueslide>p {
	color: #fff !important;
	font-family: Poppins;
	line-height: 1.33;
}

.pinkslidebg {
	padding: 5%;
	background-color: #edb6c1;
}

.pinkslide {
	color: #000 !important;
}

.blueslide>h4, .pinkslide>p {
	color: #000;
	font-family: Poppins;
	line-height: 1.33;
}

/*SLIDER*/

.is_stuck {
	margin-top: 6%;
}

.boodropdown {
	position: relative;
	bottom: 35px;
	left: 90px;
}

.btnsidecaret {
	background: none;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	top: 45px;
	right: 95px;
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.showss {
	display: block;
}

/*PROGRESS BAR*/

.navprogress {
	height: 2px;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

.navprogress>.progress-bar {
	background-color: #ab27c5;
}

.ratingprogress {
	height: 10px;
}

.ratingprogress>.progress-bar {
	background-color: #ab27c5;
}

/*Modal Detail Book*/

.modal-backdrop {
	background-color: #4c4d4e !important;
	opacity: 1 !important;
}

.modal-dialog {
	margin: auto !important;
}

/*Rating Stars*/

.rating {
	position: relative;
	top: -12px;
	height: 20px;
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
}

.rating>span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 1.5em;
	font-size: 15pt;
	color: #b2b2b2;
}

.rating>span:hover, .rating>span:hover~span {
	color: transparent;
}

.rating>span:hover:before, .rating>span:hover~span:before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: #b44aca;
}