@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Source+Sans+Pro:400,600,700,900');

button {
	outline: none !important;
}

body {
	background-color: #f3f5f7;
}

p {
	margin-bottom: 0.2rem !important;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #7b0393;
}

.bor-rad0 {
	border-radius: 0 !important;
}

.navbar {
	padding: 0.2rem 1rem !important;
}

.navbar-collapse {
	flex-basis: 60%;
}

.fixed-top {
	z-index: 1009;
}
.fixed-top {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.ikuti-lomba {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background-color: #7661ca;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
}
.baboonav {
	background-color: #fdfdfd;
	box-shadow: 0px 0px 1px 0px rgba(74, 74, 74, 0.15);
}

.martopbot {
	margin-top: -5px;
	margin-bottom: -20px;
}

.srcform {
	width: 30%;
}

.form-search {		
	width: 90%;		
	padding: 3px 15px 3px 12px;		
	color: #848484;		
	border: 2px solid rgba(210, 215, 218, 0.6);		
	border-radius: 100px;		
	background: url("../img/search.png") no-repeat right;		
	background-size: 18px;		
	background-position: 95% 50%;		
}

.search-form {
	border-radius: 50px;
	height: 35px;
	font-size: 13px;
	width: 250px !important;
	color: #888 !important;
	background: url("../img/search.png") no-repeat right;
	background-size: 18px;
	background-position: 95% 50%;
}
.search-msg {
	border-radius: 50px;
	height: 35px;
	font-size: 13px;
	width: 100% !important;
	color: #888 !important;
	background: url("../img/search.png") no-repeat right;
	background-size: 18px;
	background-position: 95% 50%;
}
.form-search:focus {
	outline: 0;
}
input.formsearch:focus {
	color:#7554bd;
	border-color:#7554bd;
	box-shadow: 0px 0px 0px 0px #7554bd;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #333;
	opacity: 0.3;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #333;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #333;
	opacity: 0.3;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #333;
	opacity: 0.3;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #333;
	opacity: 0.3;
}

.bx-wrapper {
	-webkit-box-shadow: none !important;
	border: none !important;
	background: transparent !important;
	margin-bottom: 0 !important;
	max-width: 1300px !important;
}

.bx-wrapper .bx-next {
	right: 45% !important;
}

.bx-wrapper .bx-prev {
	left: 10% !important;
}

.contslider {
	width: 62px;
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
    color: #757575;
}

@media screen and (max-width: 500px) {
	.contslider {
		width: 35px;
		height: 35px;
		padding: 10px 10px 10px 10px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
	}
}

.contenttextslider p span {
	display: block;
}

.btnbooread {
	border: 1px rgba(128, 128, 128, 0.28) solid;
	border-radius: 23px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	padding: 8px 40px;
}

.sidetextslide {
	padding: 13%;
}

.list-group-item>p span {
	display: block;
}

.subchapter>.list-group>.list-group-item {
	font-size: 15px;
	font-weight: 600;
	padding: 1rem 0 !important;
}

.fs-13 {
	font-size: 13px;
}

.profilenav>p span {
	display: block;
}

.baboocolor {
	color: #ca79db !important;
}

.bold {
	font-weight: bold !important;
	font-size: 11pt !important;
	font-family: 'Source Sans Pro', sans-serif;
}

.bold>a {
	font-weight: bold !important;
	font-family: 'Source Sans Pro', sans-serif;
}

.bold11px {
	font-size: 11px;
	font-weight: bold;
}

.border1px {
	border-bottom: solid 0.8px #e4e8eb;
	height: 1px;
}

.boldtitle {
	font-weight: bold !important;
	font-size: 18pt !important;
	font-family: 'Source Sans Pro', sans-serif;
}

.catbook {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 8pt;
}

.catul {
	display: inline-block;
	list-style: none;
	float: right;
}

.Rcatul {
	display: inline-block;
	list-style: none;
	box-shadow: 0px 0px 1px 0px #222;
}

.catli {
	float: left;
	margin-left: 20px
}

.catli>a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
}

.Rcatli {
	float: left;
	color: #fff;
	padding-top: 8px;
	height: 100%;
}

.Rcatul .active {
	border-bottom: 3px solid #fff;
}

.Rcatli>a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
	color: #fff;
}

.content-desc {
	margin-top: 5px;
}

.text-desc-in {
	font-size: 12pt !important;
	font-family: 'Noto Serif', serif;
	line-height: 1.7;
}

.text-desc-out {
	font-size: 11pt !important;
	font-family: 'Noto Serif', serif;
	line-height: 1.5;
}

.readmore {
	color: #8a6ec7;
	font-weight: 600;
	text-decoration: underline;
	font-family: 'Source Sans Pro', sans-serif;
}

.nametitle {
	font-size: 0.8rem !important;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
}

.nametitle2 {
	font-size: 1rem !important;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
}

.Rnametitle2 {
	font-size: 15px;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1;
}

.btnbeliskrg {
	padding: 10px 40px;border-radius: 30px;background-color: #b54aca;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);border: none;
}
.txtbtnbeliskrg {
	font-size: 15pt;color: #fff;font-family: 'Source Sans Pro', sans-serif;font-weight: 600;
}

.dbooktitle {
	font-family: 'Source Sans Pro', sans-serif;
	color: #5f5f5f !important;
}

.dbooksociallist {
	width: calc(100%/4);
	float: left;
}
.dbooksociallistmodal {
	width: calc(100%/5);
	float: left;
}

.closemodal {
	position: relative;left: 150px;cursor: pointer;
}

.dbookfollowbtn {
	position: relative;
	bottom: 53px;
	left: 150px;
}

.modallimitbook {
	font-size: 20pt;font-weight: bold;font-family: 'Source Sans Pro', sans-serif;line-height: 1.38;
}

.dbooktitlebook {
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}

.dbookdescbook {
	font-size: 15px;
	font-family: 'Noto Serif', sans-serif;
	line-height: 1.8;
}

.nametitle3 {
	font-size: 1.35rem !important;
	line-height: 1;
}

.nametitle3>a {
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

.Rnametitle3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
}

.mt-7 {
	margin-top: 7px;
}

.mt-img {
	margin-top: -100%;
}

.btn {
	border-radius: 3px;
	outline: none !important;
}

.btn {
	display: inline-block;
	font-weight: bold;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .3rem 0.7rem;
	font-size: 10pt;
	border-radius: .15rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.btn-lg {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	border-radius: .3rem;
}

.btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	border-radius: .2rem;
}

.btn-newstory {
	margin-top: 6px;
	color: #7554bd;
	font-size: 11pt;
	font-weight: bold;
	border-radius: 30px;
	background-color: #faf7ff;
	box-shadow: 0 1px 2px 0 rgba(227, 214, 255, 0.7);
	border: solid 1px #7554bd;
	text-align: center;
}
.create-msg {
  width: 125px;
  height: 25px;
  float: right;
  color: white;
  border-radius: 12.5px;
  background-color: #6246b0;
}
.content-white {
	border:solid 1px #DDD;background: white;
}
.btn-newstory {
	outline: 0;
}
.btn-navdaftar {
	padding: 10px;
	border-radius: 31px;
	background-color: #7554bd;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
}
.btn-follow {
	padding: 10px;
	border-radius: 31px;
	background-color: #7554bd;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
}
.navdaftar {
	padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.btn-navmasuk {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

.btn-white {
	background-color: #f5f8fa !important;
	border: 1px solid #f5f8fa !important;
	box-shadow: 0px 0px 10px #5a5a5a;
}

.btn-white {
	color: #7554bd;
}

.addbutton {
	color: #8a6ec7;
}

.smalltitle {
	font-size: 10pt;
	margin-bottom: 2%;
}

.fillcontent {
	font-size: 14pt;
	margin-bottom: 10% !important;
}

.baboocontent {
	padding: 10px;
	border-bottom: 1px rgba(225, 225, 225, 0.28) solid;
}

.baboocontents {
	padding: 10px;
}

.img-book {
	box-shadow: 1px 1px 10px rgba(51, 51, 51, 0.22);
}

.hr-panel {
	border-bottom: 1px rgba(132, 132, 132, 0.17) solid;
	/*margin-top: 20px;*/
	margin-bottom: 10px;
	width: 100%;
}

.cardsize {
	width: 100%;
	height: 480px;
}

/*@media screen and (min-width: 1200px) {
	.cardsize {
		width: 100%;
		height: 380px;
	}
}
@media screen and (max-width: 900px) {
	.cardsize {
		width: 100%;
		height: 465px;
	}
}*/

.card {
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(167, 167, 167, 0.04);
	border: solid 1px #e8ebec;
}
.hr {
	border-bottom:solid 2px #DDD: 
}
.side-card {
	border-radius: 10px;
	background-color: #fafcfd;
	box-shadow: 0 2px 2px 0 rgba(167, 167, 167, 0.04);
	border: solid 1px #e8ebec;
}

.side-card> .subchapter >.list-group>.list-group-item {
	background-color: #fafcfd !important;
}
.side-card> .card-body >.list-group>.list-group-item {
	background-color: #fafcfd !important;
}

.card-header {
	background-color: transparent;
}

.card-widget {
	border-color: #7554bd;
	background-color: #7554bd;
	color: #fff !important;
}

.card-body {
	overflow: hidden;
}

.card-content {
	padding: 15% 7%;
}

.card-footer {

        background: #fff;
    border-radius: 45px ;
        border-top: 1px #f0f0f0 solid;
}
.effect-img {
	    box-shadow: 0 4px 4px 0 rgba(112, 89, 165, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.padding-0 {
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.bukupilihan {
	padding: 5px 20px;
	background-color: #7554bd;
	border-radius: 25px;
	font-size: 10pt;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

.padding {
	padding: 20px;
}
.left-side {
	border: 0px;
	border-radius: 0px;
	background-color: #F5F8FA;
	padding: 10px;
}

.right-side {
	border: 0px;
	border-radius: 0px;
	background-color: #ffffff;
}

.side-content-l {
	/*padding:100px 100px 100px 100px;*/
	padding: 10%;
	height: 100vh;
}

.side-content-r {
	padding: 50px 50px 50px 50px;
	height: 100vh;
}

.btn-facebook {
	height: 50px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #efefef;
}

.btn-google {
	height: 50px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #efefef;
}

.btn-facebook-mob {
	height: 50px;
	width: 140px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #ebebeb;
}

.btn-google-mob {
	height: 50px;
	width: 140px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
	border: solid 1px #ebebeb;
	margin-left: 10px;
}

.img-button {
	height: 24px;
}

.btn-teks {
	height: 22px;
	font-family: calibri;
	font-size: 16px;
	font-weight: 600;
	text-align: left;
	color: #2e2e2e;
	padding-left: 10px;
}

/*
.aktip{
	border-bottom:solid 3px #fff;
	}*/

	.Combined-Shape-Copy {
		width: 30.5px;
		height: 28.3px;
		border-radius: 1px;
	}

	.button-login {
		background-color: transparent;
		border: 2px solid #7554bd;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		color: #7554bd;
		padding-left: 20px;
	}

	.register-link {
		font-size: 14px;
		color: #555;
	}

	.register-link2 {
		font-size: 14px;
		color: gray;
	}

	.register-link2:hover {
		color: #7554bd;
		text-decoration: none;
		font-weight: 600;
	}

	.register-link2.active {
		color: #7554bd;
		text-decoration: none;
		font-weight: 600;
	}

	.register-link3 {
		font-size: 12px;
		color: #555;
	}

	.register-link3:hover {
		color: #7554bd;
		text-decoration: none;
	}

	.register-link3.active {
		color: #7554bd;
		text-decoration: none;
	}

	.text-label-login {
		margin-top: 50px;
		font-size: 14px;
		"
		color: #555;
	}

	.text-label-login2 {
		font-size: 14px;
		"
		color: #555;
	}

	.login-input {
		font-size: 13px;
		color: #eee;
		height: 40px;
		border: 1px solid #ddd;
	}

	button.button-login:hover {
		background-color: #7554bd;
		color: #fff;
		padding-left: 20px;
	}

	input.login-input:focus {
		color: #7554bd;
		border-color: #7554bd;
		box-shadow: 0px 0px 1px 0px #7554bd;
	}

	input.login-input {
		color: gray;
		box-shadow: 0px;
	}

	input-placeholder.login-input {
		color: gray;
	}

	.welcome-message {
		font-size: 20px;
		color: grey;
	}

	.img-logo-login {
		margin-top: 120px;
		height: 150px;
	}

	.img-left-login {
		margin-top: 40px;
		height: 360px;
		width: 540px;
	}

	.icon-langsung-baca {
		padding-left: 5px;
		font-size: 12px;
	}

	.konten {
		padding-right: 30px;
		padding-left: 30px;
	}

	.btn-no-fill {
		border: 1px #7554bd solid;
		border-radius: 25px;
		padding: 0px 10px;
		color: #7554bd;
	}

	.btn-daftar {
		background-color: #7554bd;
		color: #fff;
		font-size: 14px;
		border-radius: 50px;
		margin-bottom: 25px;
		margin-top: 15px;
		border: 2px solid #7554bd;
	}

	button.btn-daftar:hover {
		background-color: #fff;
		color: #7554bd;
		border: 2px solid #7554bd;
		padding-left: 20px;
		font-weight: 600;
	}

	select.form-control:focus {
		border-color: #7554bd;
	}
	.share-btn {
		font-size: 0.8em;font-weight: bold;background: transparent;border: 0;
	}
	/*SLIDER*/
	.nulis {
	  width: 300px;
	  height: 24px;
	  font-family: 'Source Sans Pro', sans-serif;
	  font-size: 18px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.33;
	  letter-spacing: normal;
	  text-align: center;
	  color: #272727;
	}
	.contentpadding {
		padding-left: 50px;
		padding-top: 50px;
}
	.paddingslide {
		margin-top: 100px;
	}
	.bisa {
	  width: 247.7px;
	  height: 43px;
	  font-family: 'Source Sans Pro', sans-serif;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.29;
	  letter-spacing: normal;
	  text-align: center;
	  color: #272727;
	}
	.slideboo {
		display: flex;
		position: relative;
	}

	.leftboo {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		width: 13%;
		background-image: -webkit-radial-gradient(169% 84%, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 277px,#714cb0 50px);
		height: auto;
	}

	.rightboo {
		border-radius: 211px 1px 0 1px;
		-webkit-border-radius: 211px 1px 0 1px;
		width: 47%;
		height: auto;
		background-image: linear-gradient(202deg, #8148c2, #7554bd);
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		overflow: hidden;
	}

	.slidecontrols {
		z-index: 1001;
		position: absolute;
		top: 45%;
		right: 0;
		left: 5%;
	}

	@media screen and (max-width: 500px) {
		.slidecontrols {
			z-index: 1001;
			position: absolute;
			top: 45%;
			right: 5%;
			left: 5%;
		}
	}

	.inrightboo {
		position: inherit;
		color: #fff;
		z-index: 1005;
	}

	.textinboo {
		font-size: 20pt;
		font-weight: bold;
	}

	.blueslidebg {
		padding: 25px;
		background-color: #7db6d0;
	}

	.blueslide {
		color: #fff !important;
	}

	.blueslide>h4, .blueslide>p {
		color: #fff !important;
		font-family: 'Source Sans Pro', sans-serif;
		line-height: 1.33;
	}

	.pinkslidebg {
		padding: 25px;
		background-color: #edb6c1;
	}

	.pinkslide {
		color: #000 !important;
	}

	.blueslide>h4, .pinkslide>p {
		color: #000;
		font-family: 'Source Sans Pro', sans-serif;
		line-height: 1.33;
	}

	.rpinkslidebg {
		background: #edb6c1;
	}

	.rblueslidebg {
		background: #7db6d0;
	}

	/*SLIDER*/

	.cleftmenu > .is_stuck {
		margin-top: 10px !important;
	}
	.outleft > .is_stuck {
		margin-top: 5% !important;
	}
	/*.tmlin > .is_stuck {
		margin-top: 70px !important;
	}*/
	.dtlbok > .is_stuck {
		margin-top: 80px !important;
	}

	.boodropdown {
		position: relative;
		bottom: 35px;
		left: 60px;
	}

	.btnsidecaret {
		background: none;
		border: none;
		cursor: pointer;
	}

	.dropdown-content {
		top: 40px;
		right: 10px;
		display: none;
		position: absolute;
		background-color: #fff;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #ddd;
	}

	.showss {
		display: block !important;
	}

	/*PROGRESS BAR*/

	.navprogress {
		height: 2px;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
	}

	.navprogress>.progress-bar {
		background-color: #ab27c5;
	}

	.ratingprogress {
		height: 10px;
	}

	.ratingprogress>.progress-bar {
		background-color: #ab27c5;
	}

	/*Modal Detail Book*/

	.modal-backdrop {
		background-color: #4c4d4e !important;
		opacity: 1 !important;
	}

	.modal-dialog {
		margin: auto !important;
	}

	/*Rating Stars*/

	.rating {
		position: relative;
		top: -12px;
		height: 20px;
		unicode-bidi: bidi-override;
		direction: rtl;
		text-align: center;
	}

	.rating>span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		width: 1.5em;
		font-size: 15pt;
		color: #b2b2b2;
	}

	.rating>span:hover, .rating>span:hover~span {
		color: transparent;
	}

	.rating>span:hover:before, .rating>span:hover~span:before {
		content: "\2605";
		position: absolute;
		left: 0;
		color: #b44aca;
	}

	/*Upload Cover CSS STYLE*/
	.coverprev > input[type=file] {
		cursor: pointer;
		width: 40px;
		position: relative;
		bottom: 135px;
	}
	.coverprev > input[type=file] {
	/*display: inline-block;
	border-radius: 2px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(111, 111, 111, 0.16);
	border: solid 1px #b5bec3;
	padding: 90px 60px 60px 60px;*/
}
.coverprev > input[type=file]:before {
	content: url(../img/assets/icon_plus_purple.svg);
}
.coverprev > input[type=file]::-webkit-file-upload-button {
	visibility: hidden;
}
.coverprev > input[type=file]:focus {
	outline: none;
}

#yourcoverimage {
	position: relative;left: 15%;width: 595px;height: 842px;
}

#bg-cover {
	position: absolute;width: 595px;height: 842px;box-shadow: 0 2px 20px 0 rgba(111, 111, 111, 0.16);
}

#coverCreation {
	position: absolute;padding: 2%;width: 595px;height: 842px;
}
#coverCreationmr {
	position: absolute;padding: 2%;
}

.baboo-cover {
	position: absolute;padding: 2%;width: 595px;height: 842px;
}

#done-cover {
	padding: 5px 30px;border: none;font-size: 15px;color: #fff;font-weight: 600;
}

/*COVER TEXT SIZE*/
.txt-h1 {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 1.1;
}
.txt-h2 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.1;
}
.txt-h3 {
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.1;
}
.txt-h4 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.1;
}
.txt-h5 {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.1;
}
.txt-h6 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.1;
}

/*COVER TEXT FONT FAMILY*/
.setfont1 {
	font-family: cursive !important;
}
.setfont2 {
	font-family: Roboto !important;
}
.setfont3 {
	font-family: 'Source Sans Pro', sans-serif !important;
}
.setfont4 {
	font-family: Proxima Nova !important;
}
.setfont5 {
	font-family: monospace !important;
}

/*COVER TEXT ALIGN*/
.a-txtcenter{
	position: relative;
	top: 42%;
}
.a-txtbot{
	position: relative;
	top: 92%;
}


/*Tulis Buku*/
.tulisjudul > input[type=text] {
	background: transparent;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: #656565;
}
.tulisjudul > input[type=text]:focus {
	outline: none;
}

.note-editor.note-frame .note-editing-area .note-editable {
	background: none !important;
}

.tulisbuku > .card {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}
.tulisbuku > .card > .note-statusbar{
	display: none;
}
.tulisbuku > .card > .note-editing-area > .note-editable > p{
	font-family: 'Source Sans Pro', sans-serif;
}

/*#subchapter {
	display: none;
	}*/
	.addsubchapt {
		cursor: pointer;padding:12px 0;border-radius: 4px;border: dashed 2px #dde4e9;
	}
	.addsubchapt_on {
		color: white !important;
		cursor: pointer;
		padding: 12px 0;
		border-radius: 4px;
		background-color: rgb(181, 74, 202);
		border: solid 2px #9311ac;
	}
	.txtaddsubchapt {
		font-size: 12px;color: #7b8a95;
	}

	/*TAB CREATE COVER*/
	.nav-pills > a:hover {
		color: #fff !important;
	}
	.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
		background-color: #4d4c4c !important;
		border-bottom: 2px solid #fff;	
	}

	.creatcovermenu > .nav-link {
		padding: 1.5rem !important;
	}

	.judulbookcover > input[type=text] {
		background: none;
		border: none;
		color: #cacaca;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.judulbookcover > input[type=text]::placeholder {
		color: #cacaca;
	}
	.judulbookcover > input[type=text]:focus {
		outline: none;
	}

	.btnselectstyle {
		cursor: pointer;border: none;background-color: #474747;
	}
	.txtselectstyle {
		font-size: 17px;font-weight: bold;color: #fff;
	}
	.btnselectstyle > .font-select1 {
		font-family: cursive;
	}
	.btnselectstyle > .font-select2 {
		font-family: 'Source Sans Pro', sans-serif;
	}
	.btnselectstyle > .font-select3 {
		font-family: 'Noto Serif', serif;
	}
	.btnselectstyle > .font-select4 {
		font-family: Proxima Nova;
	}
	.btnselectstyle > .font-select5 {
		font-family: monospace;
	}

	.uploadcoverimg > input[type=file] {
		cursor: pointer;
		width: 100%;
		height: auto;
		overflow: hidden;
	}

	.uploadcoverimg > input[type=file] {
		display: inline-block;
		border-radius: 2px;
		background-color: #ffffff;
		box-shadow: 0 2px 4px 0 rgba(111, 111, 111, 0.16);
		border: dashed 2px #dddddd;
		padding: 35px 80px 0px 50px;
	}
	.uploadcoverimg > input[type=file]:before {
		content: url(../img/assets/btn_upload_img.png);
	}
	.uploadcoverimg > input[type=file]::-webkit-file-upload-button {
		visibility: hidden;
	}

	.colorlist {
		width: calc(100%/4);float: left;
	}
	.txtcolorlist {
		width: calc(100%/4);float: left;
	}

	.covercanvas {
		position: relative;left: 30%;width: 35%;height: 450px;border-radius: 2px;background-color: #ffffff;box-shadow: 0 2px 7px 0 rgba(111, 111, 111, 0.16);border: solid 1px #b5bec3;
	}

	.loader {
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #DDD;
		width: 20px;
		height: 20px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

/*FROALA*/
.fr-box.fr-basic.fr-top .fr-wrapper {
	box-shadow: none !important;
}
.fr-box.fr-basic .fr-wrapper {
	background: transparent !important;
}
.fr-toolbar {
	background: #f5f8fa !important;
}

/*DETAIL BOOK*/
.book-content {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

/*PROFILE*/
.profile-left {
	  width: 250px;
	  height: 635.1px;
	  border-radius: 5px;
	  background-color: #ffffff;
}
.profile-avatar {
	margin: auto;
	margin-top: 30px;
}
.quote {
	padding: 10px;
	font-size: 13px;
	color: gray;
}
.profile_message_des {
	width: 90%;
}
.btn-message-des {
  float: right;
  font-size: 12px;
  width: 45%;
  color: #7554bd;
  outline: 0;
  border-radius: 10px;
  background: transparent;
  border: solid 1px #7554bd;
}
.btn-profile-des {
  float: left;
  width: 45%;
  font-size: 12px;
  color: #7554bd;
  outline: 0;
  border-radius: 10px;
  background: transparent;
  border: solid 1px #7554bd;
}

.profile_balance_des {
  width: 90%;
}
.penghargaan {
	width: 90%;
	float: left;
	padding: 10px;
	text-align: left;
	color: gray;
}

/*TAB ICON MENU*/
.fs-13px {
	font-size: 13px !important;
}
.fs-12px {
	font-size: 12px !important;
}
.fs-14px {
	font-size: 14px !important;
}

/*KOMENTAR*/
.commentform {
    color: #5d5d5d;
    border-radius: 35px;
    width: 100%;
    height: 50px;
    padding: 10px;
    resize: none;
}
.chapter_active {
	background: #7554bd;
	/*color: white;*/
	/*color: #7554bd;*/
}

.chapter_active a {
	color: white;
}
.chapter_disabled {
	background: #333;
}
.chapter_disabled span {
	color: white;
}

.bornone {
	border: none !important;
}
.borbot {
	border-bottom: .5px #a5a5a5 solid !important;
}

.comment-marker {
	position: absolute;
	right: 0;
	opacity: .5;
	padding: 0 3px 3px 3px;
}
.comment-marker .num-comment {
	position: absolute;
	font-size: 10px;
	font-weight: 700;
	color: #333;
	left: 50%;
	top: 15px;
	transform: translate(-50%);
}

.btncompar {
	background: none;
	border: none;
	cursor: pointer;
}
        
#noti_Container {
    position:relative;
}
   
/* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
#noti_Button {
    line-height:22px;
    border-radius:50%;
    -moz-border-radius:50%; 
    -webkit-border-radius:50%;
    cursor:pointer;
}
    
/* THE POPULAR RED NOTIFICATIONS COUNTER. */
#noti_Counter {
    display:block;
    position:absolute;
    background:#E1141E;
    color:#FFF;
    font-size:12px;
    font-weight:normal;
    padding:3px 3px;
    margin:10px 0 0 50px;
    border-radius:2px;
    -moz-border-radius:2px; 
    -webkit-border-radius:2px;
    z-index:1;
}
#notifications {
    display:none;
    width:320px;
    position:absolute;
    height: 580px;
    overflow-y: scroll;
    top:60px;
    left:45%;
    background:#FFF;
    border:solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
    z-index: 0;
}
#detailStyle {
    font-family: 'Noto Serif', serif;
    line-height:35px;
}
.dropbtn {
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

#post-data {
	font-family: 'Noto Serif', serif;
}


.darker {
    border-color: #ccc;
    background-color: #ddd;
}


.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
.chatleft {
	float: left;
	width: 100%;
	margin-left: 10px;
    border-radius: 25px; 
}
.chatright {
	float: right;
	width: 100%;
	margin-right: 10px;
    border-radius: 25px; 
}
.txtchatleft {
	background: #f1f0f0;
	width: auto;
	float: left;
	padding: 10px;
	border-radius: 25px;
}
.txtchatright {
	background: #7159a5;
	width: auto;
	color: white;
	float: right;
	padding: 10px;
	border-radius: 25px;
}
.rowchat {
	height: auto;
	max-height: 400px;
	overflow-y: scroll;
}
.form-msg {
  outline: 0;
  padding: 10px;
  width: 88%;
  border-radius: 29.5px;
  background-color: #fcfbfc;
  border: solid 0.7px #acacac;
}
.submit-msg {
  width: 40px;
  height: 40px;
  background-color: #fcfbfc;
  border: solid 0.7px #8c40d5;
}
.follow-right {
	float: right;
}

.paddingevent{
	padding: 10px 100px !important;
}

@keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1;
  }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lds-flickr-opacity {
  0% {
    -webkit-transform: translate(0 0);
    transform: translate(0 0);
    opacity: 1;
  }
  49.99% {
    opacity: 1;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes lds-flickr {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(80px, 0);
    transform: translate(80px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.lds-flickr {
  position: relative;
}
.lds-flickr div {
  position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 20px;
    left: 80px;
}
.lds-flickr div:nth-child(1) {
  background: #e4d8eb;
  -webkit-animation: lds-flickr 1s linear infinite;
  animation: lds-flickr 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-flickr div:nth-child(2) {
  background: #caacd4;
  -webkit-animation: lds-flickr 1s linear infinite;
  animation: lds-flickr 1s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-flickr div:nth-child(3) {
  background: #e4d8eb;
  -webkit-animation: lds-flickr-opacity 1s linear infinite;
  animation: lds-flickr-opacity 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-flickr {
  width: 200px !important;
  height: 100px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.popUpBannerBox {
		position: fixed;
		width: 100%;
		/*height: 100%;*/
		top: 0;
		left: 0;
		color: #FFF;
		z-index: 999999;
		display: none;
	}
	.popUpBannerInner {
		max-width: 310px;
		margin: 0 auto;
	}
	.popUpBannerContent {
		position: fixed;
		bottom: 20px;
	}
	.closeButton {
		position: relative;
		color: white;
		text-decoration: none;
		font-size: 22pt;
		bottom: -3px;
		right: 40px;
	}